In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('df_full.csv')
df.head()

,Unnamed: 0,id,sex,lactation_number,birth_difficult,days_no_milking,days_pregnant,group_id,prev_group_id,event,...,RP_POSLED,childs_fa,childs_ma,childs_fd,childs_md,childs_m,childs_f,childs_d,childs_a,age
0,0,146,1,6,1,62,277,18,18,FOOTRIM,...,0,1,0,0,0,0,1,0,1,3286
1,1,146,1,6,1,62,277,18,18,VAC,...,0,1,0,0,0,0,1,0,1,3299
2,2,146,1,6,1,62,277,18,18,VAC,...,0,1,0,0,0,0,1,0,1,3299
3,3,291,1,6,1,68,0,23,23,MOVE,...,0,0,1,0,0,1,0,0,1,3539
4,4,291,1,6,1,68,0,23,23,SOLD,...,0,0,1,0,0,1,0,0,1,3549

In [3]:
df.shape

(592307, 375)

In [4]:
dict_mastit = []
for col in df.columns:
    if (col[:4] == 'MAST' and (col != 'MAST_MV') and (col != 'MAST_MB')):
        dict_mastit.append(col)        
dict_mastit

['MAST_TM1_1',
 'MAST_KM6_4',
 'MAST_SKM3_3',
 'MAST_SKM5_2',
 'MAST_SKM5_3',
 'MAST_KM4_3',
 'MAST_TM5_1',
 'MAST_TM3_2',
 'MAST_TM4_4',
 'MAST_KM8_2',
 'MAST_TM2_4',
 'MAST_KM6_3',
 'MAST_KM3_1',
 'MAST_TM6_4',
 'MAST_SKM2_1',
 'MAST_KM1_1',
 'MAST_TM4_2',
 'MAST_SKM1_4',
 'MAST_KM5_1',
 'MAST_TM4_3',
 'MAST_TM6_2',
 'MAST_KM2_4',
 'MAST_TM2_3',
 'MAST_SKM3_1',
 'MAST_SKM1_2',
 'MAST_TM6_3',
 'MAST_SKM1_3',
 'MAST_SKM5_1',
 'MAST_KM4_2',
 'MAST_TM9_4',
 'MAST_KM2_3',
 'MAST_TM3_1',
 'MAST_SKM4_4',
 'MAST_KM8_1',
 'MAST_KM6_2',
 'MAST_KM7_4',
 'MAST_SKM6_4',
 'MAST_TM4_1',
 'MAST_TM6',
 'MAST_TM9_3',
 'MAST_SKM4_3',
 'MAST_TM6_1',
 'MAST_TM2_2',
 'MAST_KM7_3',
 'MAST_SKM1_1',
 'MAST_SKM6_3',
 'MAST_TM5_4',
 'MAST_KM4_1',
 'MAST_KM2_2',
 'MAST_KM3_4',
 'MAST_SKM2_4',
 'MAST_KM1_4',
 'MAST_KM6_1',
 'MAST_KM5_4',
 'MAST_TM5_3',
 'MAST_TM9_2',
 'MAST_KM3_3',
 'MAST_SKM4_2',
 'MAST_SKM2_3',
 'MAST_KM1_3',
 'MAST_TM2_1',
 'MAST_KM7_2',
 'MAST_TM1_4',
 'MAST_KM5_3',
 'MAST_SKM6_2',
 'MAST_TM3_4',
 'MAST_TM1_2',
 'MAST_KM8_4',
 'MAST_KM2_1',
 'MAST_TM1_3',
 'MAST_TM5_2',
 'MAST_TM3_3',
 'MAST_KM8_3',
 'MAST_TM9_1',
 'MAST_KM3_2',
 'MAST_SKM4_1',
 'MAST_SKM2_2',
 'MAST_KM1_2',
 'MAST_SKM3_4',
 'MAST_KM7_1',
 'MAST_KM5_2',
 'MAST_SKM6_1',
 'MAST_SKM5_4',
 'MAST_KM4_4',
 'MAST_SKM3_2']

In [5]:
df.drop(columns='Unnamed: 0', inplace = True)
df.head()

,id,sex,lactation_number,birth_difficult,days_no_milking,days_pregnant,group_id,prev_group_id,event,days_milking,...,RP_POSLED,childs_fa,childs_ma,childs_fd,childs_md,childs_m,childs_f,childs_d,childs_a,age
0,146,1,6,1,62,277,18,18,FOOTRIM,336,...,0,1,0,0,0,0,1,0,1,3286
1,146,1,6,1,62,277,18,18,VAC,349,...,0,1,0,0,0,0,1,0,1,3299
2,146,1,6,1,62,277,18,18,VAC,349,...,0,1,0,0,0,0,1,0,1,3299
3,291,1,6,1,68,0,23,23,MOVE,448,...,0,0,1,0,0,1,0,0,1,3539
4,291,1,6,1,68,0,23,23,SOLD,458,...,0,0,1,0,0,1,0,0,1,3549

In [6]:
male_index = []
for i in range(df.shape[0]):
    if (df.iloc[i]['sex'] == 0):
        male_index.append(i)
len(male_index)

7634

In [7]:
df.drop(male_index, inplace = True)

In [8]:
#check
df[df['sex'] == 0].shape[0]

0

In [9]:
df.columns

Index(['id', 'sex', 'lactation_number', 'birth_difficult', 'days_no_milking',
       'days_pregnant', 'group_id', 'prev_group_id', 'event', 'days_milking',
       ...
       'RP_POSLED', 'childs_fa', 'childs_ma', 'childs_fd', 'childs_md',
       'childs_m', 'childs_f', 'childs_d', 'childs_a', 'age'],
      dtype='object', length=374)

In [10]:
(df.dtypes != 'int64').where(lambda x: x).dropna().index.tolist()

['event', 'date', 'remark']

In [11]:
df.drop(columns='sex', inplace=True)
df.head()

,id,lactation_number,birth_difficult,days_no_milking,days_pregnant,group_id,prev_group_id,event,days_milking,date,...,RP_POSLED,childs_fa,childs_ma,childs_fd,childs_md,childs_m,childs_f,childs_d,childs_a,age
0,146,6,1,62,277,18,18,FOOTRIM,336,2019-03-28,...,0,1,0,0,0,0,1,0,1,3286
1,146,6,1,62,277,18,18,VAC,349,2019-04-10,...,0,1,0,0,0,0,1,0,1,3299
2,146,6,1,62,277,18,18,VAC,349,2019-04-10,...,0,1,0,0,0,0,1,0,1,3299
3,291,6,1,68,0,23,23,MOVE,448,2019-04-08,...,0,0,1,0,0,1,0,0,1,3539
4,291,6,1,68,0,23,23,SOLD,458,2019-04-18,...,0,0,1,0,0,1,0,0,1,3549

In [12]:
columns_to_rewrite = ['id', 'lactation_number', 'birth_difficult', 'days_no_milking', 'days_pregnant', 'group_id', 'prev_group_id','days_milking','date','event','remark', 'age']
df_mastit = pd.DataFrame()

In [16]:
%%time
df_mastit = pd.DataFrame()

num_of_cols = len(df.columns)

index_of_col = {}
k = 0
for col in df.columns:
    index_of_col[col] = k
    k += 1
  
    
def write_to_new_row(df, row):
    for col in df.columns:
        if ((col not in columns_to_rewrite) & (row[col] == 0) & (row[col] == 1)):
            new_row[index_of_col[col]] = row[col]
        elif (col in columns_to_rewrite):        
            new_row[index_of_col[col]] = row[col]
            

def write_to_new_row_new_disease(new_row, row):
    if (row.event in diseases.keys()):
        new_row[num_of_cols + diseases[row['event']]] = 1
    
diseases = {'PARES': 0, 'KETOS': 1, 'METR': 2, 'LAME': 3}


def numpyarr_to_dict_for_dfmastit(arr):
    new_dict = {}
    for col in df.columns:
        new_dict[col] = arr[index_of_col[col]]
    for col in diseases:
        new_dict[col] = arr[num_of_cols + diseases[col]]
    new_dict['health'] = arr[num_of_cols + len(diseases)]
    new_dict['protocol_number'] = arr[num_of_cols + len(diseases) + 1]
    return new_dict

def row_to_dfmastit(new_dict):
    global df_mastit
    df_tmp = pd.DataFrame()
    df_tmp = df_tmp.append(new_dict, ignore_index=True)
    df_mastit = pd.concat([df_mastit, df_tmp], ignore_index=True)
    print(df_mastit.shape[0])

def number_of_protocol(MAST_protocol):
    for c in (MAST_protocol):
        if c.isdigit():
            return c
    
i = 0
while(i < 50000):
    row = df.iloc[i]
    idd = row['id']
    new_row = [0] * (num_of_cols + len(diseases) + 1 + 1)
    while((row['id'] == idd) and (row['event'] != 'MAST')):
        write_to_new_row_new_disease(new_row, row)
        write_to_new_row(df, row)
        i += 1        
        row = df.iloc[i]
    if (row['id'] != idd): # корова не болела маститом, перешел к другой корове, не добавляю ничего
        continue
    else:
        MAST_protocol = row['remark']
        index_of_underscore = -1
        for l,c in enumerate(MAST_protocol):
            if (c == '_'):
                index_of_underscore = l
                break
        idd = row['id']
        write_to_new_row(df, row)
        i += 1
        row = df.iloc[i]
        while((row['id'] == idd) & (row['event'] != 'MAST')  & ((row['event'] != 'HEALTH') & ((row['remark'][:4] != 'МАСТ') | (row['remark'][:4] != 'МАТС')))):
            if ((row['event'] == 'MOVE') & ((row['remark'][:4] == 'F003') | (row['remark'][:4] == 'F043'))): #вылечилась
                write_to_new_row(df, row)
                new_row[num_of_cols + len(diseases)] = 1
                new_row[num_of_cols + len(diseases) + 1] = number_of_protocol(MAST_protocol)
                row_to_dfmastit(numpyarr_to_dict_for_dfmastit(new_row))
                break
            write_to_new_row_new_disease(new_row, row)
            write_to_new_row(df, row)
            i += 1
            row = df.iloc[i]
        if (row['id'] != idd): #непонятен результат(нет них health, ни mast, ни move, считаю что не выздоровела)
            new_row[num_of_cols + len(diseases)] = 0
            new_row[num_of_cols + len(diseases) + 1] = number_of_protocol(MAST_protocol)
            row_to_dfmastit(numpyarr_to_dict_for_dfmastit(new_row))
        if ((row['event'] == 'MAST') & (row['remark'] != 'МВ') & (row['remark'] != 'MB')):
            MAST_protocol_new = row['remark']
            index_of_underscore_new = -1
            for l,c in enumerate(MAST_protocol_new):
                if (c == '_'):
                    index_of_underscore_new = l
                    break
            if ((MAST_protocol[index_of_underscore:] not in MAST_protocol_new[index_of_underscore_new:].replace(',', '')) & ('?' not in MAST_protocol_new)):
                write_to_new_row(df, row)
                new_row[num_of_cols + len(diseases)] = 1
                new_row[num_of_cols + len(diseases) + 1] = number_of_protocol(MAST_protocol)
                row_to_dfmastit(numpyarr_to_dict_for_dfmastit(new_row))
            elif (MAST_protocol[index_of_underscore:] in MAST_protocol_new[index_of_underscore_new:].replace(',', '')):
                     new_row[num_of_cols + len(diseases)] = 0
                     new_row[num_of_cols + len(diseases) + 1] = number_of_protocol(MAST_protocol)
                     row_to_dfmastit(numpyarr_to_dict_for_dfmastit(new_row))         
        if((row['event'] == 'HEALTH') & ((row['remark'] == 'МАСТИТ') | (row['remark'] == 'МАТСТИТ') | (row['remark'] == 'МАСТИТ') | (row['remark'] == 'МАСТИТ3'))):
                     new_row[num_of_cols + len(diseases)] = 1
                     new_row[num_of_cols + len(diseases) + 1] = number_of_protocol(MAST_protocol)
                     row_to_dfmastit(numpyarr_to_dict_for_dfmastit(new_row))       
        i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
CPU times: user 5min, sys: 2.34 s, total: 5min 3s
Wall time: 5min 4s

In [17]:
df_mastit

,id,lactation_number,birth_difficult,days_no_milking,days_pregnant,group_id,prev_group_id,event,days_milking,date,...,childs_f,childs_d,childs_a,age,PARES,KETOS,METR,LAME,health,protocol_number
0,321,6,3,62,291,18,18,MAST,215,2019-03-17,...,0,0,0,3474,0,0,0,0,1,None
1,321,6,3,62,291,18,18,MAST,221,2019-03-23,...,0,0,0,3480,0,0,0,0,1,4
2,1540,6,1,56,0,43,43,MOVE,173,2019-04-03,...,0,0,0,3181,0,0,0,0,1,3
3,1540,6,1,56,0,43,43,MAST,193,2019-04-23,...,0,0,0,3201,0,0,0,0,1,5
4,1978,6,1,58,0,41,1,MAST,219,2019-03-12,...,0,0,0,3042,0,0,0,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,608063,2,1,57,181,6,12,MOVE,59,2019-07-08,...,0,0,0,1062,0,0,0,0,0,5
666,608095,2,1,58,245,17,6,MAST,69,2019-07-06,...,0,0,0,1055,0,0,0,0,1,5
667,608103,2,1,55,261,18,18,MAST,80,2019-07-14,...,0,0,0,1062,0,0,0,0,1,None
668,608131,2,1,64,0,3,3,MAST,9,2019-07-21,...,0,0,0,1063,0,0,0,0,0,1
669,608146,1,1,0,274,18,18,FOOTRIM,413,2019-07-24,...,0,0,0,1064,0,0,0,0,0,1

In [18]:
df_mastit[df_mastit['event'].unique()

array(['MAST', 'MOVE', 'PREG', 'FOOTRIM', 'SOLD', 'ABORT', 'BRED', 'OPEN',
       'VAC', 'LAME', 'VACVIR', 'DRY', 'ILLMISC', 'DEAD', 'POT', 'DNB'],
      dtype=object)

In [ ]:
df[df['event'] == 'HEALTH']

In [ ]:
df.columns

In [ ]:
a[1] = '1'

In [ ]:
a